[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT web app
Exec=webapp-launch https://chatgpt.com/ --class=ChatGPT
Terminal=false
Type=Application
Icon=/home/trobrock/.local/share/applications/icons/ChatGPT.png
Categories=Network;InstantMessaging;
StartupNotify=true
StartupWMClass=ChatGPT
