[Desktop Entry]
Version=1.0
Name=Claude
Comment=Claude web app
Exec=webapp-launch https://claude.ai/ --class=Claude
Terminal=false
Type=Application
Icon=/home/trobrock/.local/share/applications/icons/Claude.png
Categories=Network;InstantMessaging;
StartupNotify=true
StartupWMClass=Claude
