[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%h/.ssh/agent.sock
ExecStartPre=/usr/bin/install -d -m 700 %h/.ssh
ExecStartPre=/usr/bin/rm -f %h/.ssh/agent.sock
ExecStart=/usr/bin/ssh-agent -D -a %h/.ssh/agent.sock

[Install]
WantedBy=default.target
