extensions:
  chrome:
    enabled: false
    type: stdio
    name: chrome
    description: ''
    cmd: npx
    args:
    - chrome-devtools-mcp@latest
    envs: {}
    env_keys: []
    timeout: 300
    bundled: null
    available_tools: []
  computercontroller:
    enabled: true
    type: builtin
    name: computercontroller
    description: ''
    display_name: Computer Controller
    timeout: 300
    bundled: true
    available_tools: []
  developer:
    enabled: true
    type: builtin
    name: developer
    description: ''
    display_name: Developer
    timeout: 300
    bundled: true
    available_tools: []
  github:
    enabled: false
    type: stdio
    name: github
    description: ''
    cmd: docker
    args:
    - run
    - -i
    - --rm
    - -e
    - GITHUB_PERSONAL_ACCESS_TOKEN
    - ghcr.io/github/github-mcp-server
    envs: {}
    env_keys: []
    timeout: 300
    bundled: null
    available_tools: []
  jetbrains:
    enabled: false
    type: builtin
    name: jetbrains
    description: ''
    display_name: Jetbrains
    timeout: 300
    bundled: true
    available_tools: []
  memory:
    enabled: false
    type: builtin
    name: memory
    description: ''
    display_name: Memory
    timeout: 300
    bundled: true
    available_tools: []
  todo:
    enabled: true
    type: platform
    name: todo
    description: Enable a todo list for goose so it can keep track of what it is doing
    display_name: Todo
    bundled: true
    available_tools: []
  extensionmanager:
    enabled: true
    type: platform
    name: Extension Manager
    description: Enable extension management tools for discovering, enabling, and disabling extensions
    display_name: Extension Manager
    bundled: true
    available_tools: []
  chatrecall:
    enabled: false
    type: platform
    name: chatrecall
    description: Search past conversations and load session summaries for contextual memory
    display_name: Chat Recall
    bundled: true
    available_tools: []
  channex:
    enabled: false
    type: streamable_http
    name: channex
    description: Channex API Docs
    uri: https://docs.channex.io/~gitbook/mcp
    envs: {}
    env_keys: []
    headers: {}
    timeout: 300
    bundled: null
    available_tools: []
  skills:
    enabled: true
    type: platform
    name: skills
    description: Load and use skills from relevant directories
    display_name: Skills
    bundled: true
    available_tools: []
  code_execution:
    enabled: false
    type: platform
    name: code_execution
    description: Goose will make extension calls through code execution, saving tokens
    display_name: Code Mode
    bundled: true
    available_tools: []
  firecrawl:
    enabled: true
    type: stdio
    name: firecrawl
    description: Firecrawl
    cmd: npx
    args:
    - -y
    - firecrawl-mcp
    envs: {}
    env_keys: []
    timeout: 300
    bundled: null
    available_tools: []
  apps:
    enabled: true
    type: platform
    name: apps
    description: Create and manage custom Goose apps through chat. Apps are HTML/CSS/JavaScript and run in sandboxed windows.
    display_name: Apps
    bundled: true
    available_tools: []

experiments:
  GOOSE_SMART_APPROVE: true

ANTHROPIC_HOST: https://api.anthropic.com
GOOSE_CLI_MIN_PRIORITY: 0.0
GOOSE_CLI_NEWLINE_KEY: n
GOOSE_CLI_SHOW_COST: true
GOOSE_HOOK_STATUS: /tmp/test_hook.sh
GOOSE_MODE: auto
GOOSE_MODEL: anthropic/claude-opus-4.5
GOOSE_PROVIDER: openrouter
GOOSE_TELEMETRY_ENABLED: true
