extensions:
  chrome:
    args:
    - chrome-devtools-mcp@latest
    available_tools: []
    bundled: null
    cmd: npx
    description: ''
    enabled: true
    env_keys: []
    envs: {}
    name: chrome
    timeout: 300
    type: stdio
  computercontroller:
    available_tools: []
    bundled: true
    description: ''
    display_name: Computer Controller
    enabled: true
    name: computercontroller
    timeout: 300
    type: builtin
  developer:
    available_tools: []
    bundled: true
    description: ''
    display_name: Developer
    enabled: true
    name: developer
    timeout: 300
    type: builtin
  github:
    args:
    - run
    - -i
    - --rm
    - -e
    - GITHUB_PERSONAL_ACCESS_TOKEN
    - ghcr.io/github/github-mcp-server
    available_tools: []
    bundled: null
    cmd: docker
    description: ''
    enabled: true
    env_keys: []
    envs: {}
    name: github
    timeout: 300
    type: stdio
  jetbrains:
    available_tools: []
    bundled: true
    description: ''
    display_name: Jetbrains
    enabled: false
    name: jetbrains
    timeout: 300
    type: builtin
  memory:
    available_tools: []
    bundled: true
    description: ''
    display_name: Memory
    enabled: false
    name: memory
    timeout: 300
    type: builtin
  todo:
    available_tools: []
    bundled: true
    description: Enable a todo list for Goose so it can keep track of what it is doing
    enabled: true
    name: todo
    type: platform
GOOSE_MODE: auto
ANTHROPIC_HOST: https://api.anthropic.com
experiments:
  GOOSE_SMART_APPROVE: true
GOOSE_PROVIDER: openrouter
GOOSE_CLI_MIN_PRIORITY: 0.0
GOOSE_MODEL: anthropic/claude-sonnet-4.5
